h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: lighter;
   
}

h2{
    font-family: serif;
    
}

img {
  width: 20%;
}

.img1{
    width: 10%;
}
.blur{
    filter: blur(3px);
}

.foto3{
    background-color: black;
    width: 13%;
}

.img4{
    width: 9.5%;
}

img:hover{
    filter: none;
}

.gif{
    width: 15%;
}