.centro{
    display:flex;
    flex-wrap: wrap;
    align-items: stretch;
   
}
h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: lighter;
   
}

h2{
    font-family: serif;
    
}



.blur{
    filter: blur(3px);
}

.png{
    background-color: black;
}

.img {
    height: 300px;
  }

img:hover{
    filter: none;
}